<div class="super-box updates">
    <header>
        <%= link_to "Go to Mailbox", inbox_mailbox_index_path, class: 'link' %>
    </header>


    <div class="section-container auto" data-section="" data-options="one_up: false" style="">

        <section>
            <p class="title" data-section-title="">
                <a href="#messages">
                <i class="updates-icons msg big"></i> Messages</a>
            </p>
            <div class="content" data-slug="messages" data-section-content="" style="">

            </div>
        </section>

        <section>
            <p class="title" data-section-title="">
                <a href="#journal">
                <i class="updates-icons journal big"></i>Journal</a>
            </p>
            <div class="content dashboard-mail-list" data-slug="journal" data-section-content="" style="">

            </div>
        </section>

<!--                             <section>
            <p class="title" data-section-title="">
                <a href="#news">
                <i class="updates-icons news big"></i>News</a>
            </p>
            <div class="content" data-slug="news" data-section-content="" style="">
                akdjfalksdjflaks
            </div>
        </section>

        <section>
            <p class="title" data-section-title="">
                <a href="#system">
                <i class="updates-icons system big"></i>System</a>
            </p>
            <div class="content" data-slug="system" data-section-content="" style="">
                akdjfalksdjflaks
            </div>
        </section> -->
    </div>
<!--     <div class="buttons">
        <a href="#">Load more</a>
    </div> -->
</div>
