<p>Hi <%= @user.first_name %> -</p>

<p>Welcome to CareSpotter, we're honored to help with your caregiver search. CareSpotter is the fastest growing resource to help families find and connect with quality senior caregivers directly.</p>

<p>I started CareSpotter after needing to hire a caregiver for my own dear mother who was recovering from cancer surgery, so I know many of the challenges family caregivers face every day.</p>

<p>My goal was to create an easy-to-use, transparent resource where families can find local, screened and background checked caregivers at affordable prices.</p>

<p>During your search, you will receive a few more emails from us, starting with our <strong>Family Hiring Toolkit</strong> to guide your caregiver interview and hiring process, and you will receive updates every time a caregiver applies to your care job. </p>

<p><strong><u>FYI: Privacy is very important to us, we will never sell, rent or give your information to anyone.</u></strong></p>

<p>If you ever have any questions or comments, please don't hesitate to contact me directly at 407-792-4697 of this email. Thank you again for choosing CareSpotter <%= @user.first_name %>, it's an honor to be of service. Take care, and good luck! </p>

<p>All the best, </p>

<p>Darren Wendroff</p>

<p>Founder</p>

<p>CareSpotter - Helping families find the perfect caregiver</p>