<p><%= @user.first_name %>,</p>

<p>Thank you for using CareSpotter to help find a great caregiver for your loved one. Now that you've begun your caregiver search on CareSpotter, I'm sending you our Interview Guide with questions to ask the caregiver to determine if they're the right caregiver for you.</p>

<p>We created these questions with help from the Family Caregiver Alliance and the Direct Care Alliance of America, two of the county's largest organization working with Professional Caregivers/Direct Care Workers. </p>

<p>We are also here to support your caregiver search, if you have any questions or need any help finding the right caregiver, please contact me directly at 407-792-4697 or this email.</p>

<p>Thank you for your consideration, and good luck with your search.</p>

<p>All the best, </p>

<p>Darren Wendroff</p>

<p>Founder</p>

<p>CareSpotter - Helping families find the perfect caregiver</p>