<!-- if 2 steps complete add class "two-steps", if 3 steps "three-steps" -->
<div class="hire-progres one-steps">

	<!-- if complete add class "complete" -->
	<a class="step first">
		<span>1</span>
		<p>Enter Billing Information</p>
	</a>

	<a class="step middle">
		<span>2</span>
		<p>Confirm</p>
	</a>

	<a class="step last">
		<span>3</span>
		<p>Pay</p>
	</a>

</div>