<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @caregiver.first_name %>!<p>
    <p>
        Thank you for signing up for CareSpotter! Our goal is to support great caregivers such as yourself and help you find with high paying care jobs. My name is Darren Wendroff, and I'm the founder of CareSpotter. I wanted to personally thank you for considering our site.
    </p>

    <b><p>What is CareSpotter? </p></b>

    <p>CareSpotter is not an agency. CareSpotter is a site that helps you work as an independent, professional caregiver and connect with families directly. At CareSpotter, you can set your own rate for services and choose which families you want to work with and which you don't. </p>

    <p>At CareSpotter, caregivers are earning between $12 and $15/hr working directly with families. We want you to be a successful independent caregiver, but we also expect that you represent yourself professionally and responsibly on the site. </p> 


    <h2>Next Steps:</h2>
    <ol>
    	<li>Finish Profile - Make sure your profile is complete, and you've chosen a great, smiling picture, which is the first thing families look at when choosing a caregiver. After your profile has been completed, we'll call you to approve it on the site.</li>

    	<li>Search Care Jobs - You can search care jobs anytime b logging into your profile, and clicking the Search Care Jobs button. You will also get a text message and email every time a new care job is posted, so make sure we have your updated cell phone number.</li>

    	<li>Like our Facebook Page - We post news, tips and contests, so <a href='https://www.facebook.com/carespotter' target='_blank'>Click here to like CareSpotter on Facebook.</a></li>
    </ol>

    <p>If you have any questions, please contact us directly at <a href="tel:407-792-4697" value="+14077924697" target="_blank">407-792-4697</a> or this email. Great caregivers empower an entire family, and we think you're a great caregiver! Talk soon!</p>

    <p>All the best,</p>

    <p>Darren Wendroff<br>
    Founder<br>
    CareSpotter – Helping families find the perfect caregiver<br></p>

  </body>
</html>