<p>Hello <%= @caregiver.first_name %>,</p>

<p>Thank you for signing up with CareSpotter!</p>

<p>We need at least two references to help care seekers get a feel for your professional experience. It's easy, just put in the email of your references and we do the rest! Professional references can include former patients, patients' loved ones and professional colleagues.</p>


<%= link_to 'Add References Here!', dashboard_url, target: '_blank' %>

<p>Once you have taken care of these small details, our Community Care Manager will be notified automatically. We can't wait to get you started on CareSpotter and connect with you with wonderful families and patients seeking an amazing caregiver like you.</p>

<p>Need help? We have a dedicated care team here to help out! Just give us a call at <a href="tel:407-792-4697" value="+14077924697" target="_blank">407-792-4697</a> any time!</p>

<p>Thanks and HUGS!</p>

<p>The CareSpotter Team</p>
