<p>Hi <%= @caregiver.first_name %>, </p>

<p>Thank you for creating a profile on CareSpotter, and we're happy to say your profile has been approved! </p>

<p>Finding a great caregiver is extremely important today with our rapidly aging population, and we think you're a great caregiver.</p>

<p><strong><u>FYI: Privacy is very important to us, we will never sell, rent or give your information to anyone.</u></strong></p>

<p>Now that your profile has been approved, you're able to apply to care jobs posted on CareSpotter. You will also receive an email invitation every time a new care job is posted, and families can also invite you directly to apply. </p>

<p>If you ever have any questions or comments, please don't hesitate to contact me directly at <a href="tel:407-792-4697" value="+14077924697" target="_blank">407-792-4697</a> of this email. Thank you again for choosing CareSpotter <%= @caregiver.first_name %>, we're excited you're part of our team. Take care, and good luck! </p>

<p>All the best, </p>
<p>Darren Wendroff<br>
Founder<br>
CareSpotter - Helping families find the perfect caregiver</p>
