<!-- if 2 steps complete add class "two-steps", if 3 steps "three-steps" -->
<div class="hire-progres two-steps">

	<!-- if complete add class "complete" -->
	<a class="step first complete">
		<span>1</span>
		<p>Sign In</p>
	</a>

	<a class="step middle complete">
		<span>2</span>
		<p>Offer details</p>
	</a>

	<a class="step last">
		<span>3</span>
		<p>Review offer</p>
	</a>

</div>