<header>
	Request for new organization
</header>

<div class="body middle-width">

	<form method="post" action="#" class="myform" id="create-organization">
		<div class="field">
			<label>Enter the name of community group you would like to add.</label>
			<input type="text" placeholder="South" placeholder: 'For example: Downtown YMCA, Orlando Rotary Club, ect'>
		</div>
		<div class="action">
			<input type="submit" class="btn main" value="Save">
		</div>
	</form>

</div>