<% if notice %>
	<div data-alert class="alert-box success radius">
		<%= notice %>
	</div>
<% end %>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Uploaded Avatar</th>
			<th>FB ID</th>
			<th>FB Profile</th>
			<th>Zipcode</th>
			<th>Description</th>
			<th>Patient Name</th>
			<th>Created</th>
			<td>Delete Profile</td>
		</tr>
	</thead>

	<tbody>
		<%= render partial: 'admin/family', collection: @families %>
	</tbody>
</table>

<%= paginate @families %>

<p>
  Download:
  <%= link_to "CSV", users_path(format: "csv") %>
</p>