<div class="tabs">
    <ul>
        <li class="basic <% if active == 'basic' %>active<% end %>">Step 1 <br/> <span>Basics</span></li>
        <li class="skills <% if active == 'skills' %>active<% end %>">Step 2 <br/> <span>Skills and Services</span></li>
        <li class="about <% if active == 'about' %>active<% end %>">Step 3 <br/> <span>About Me</span></li>
        <li class="photos <% if active == 'photos' %>active<% end %>">Step 4 <br/> <span>My Photos</span></li>
    </ul>
</div>