input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
    margin: 0;
    font-size: 14px;
	display: block;
	font-size: 14px;
	padding: 0 15px;
	height: 34px;
	background: $color-white;
	text-decoration: none;
	color: $color-black;
}

.select-box {
	position: relative;
	a {
		display: block;
		font-size: 14px;
		padding: 0 15px;
		height: 34px;
		line-height: 34px;
		background: $color-white;
		text-decoration: none;
		color: $color-gray-middle;
	}
	& > a {
		border: 1px solid #E6E7E8;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 12px;
			right: 15px;
			width: 16px;
			height: 9px;
			background: image-url("v2/arr-select.png") no-repeat;
		}
	}
	select {
		position: absolute;
		top: 0px;
		left: 0;
		z-index: 10;
		width: 100%;
		height: 34px;
		opacity: 0;
		font-size: 14px;
		cursor: pointer;
	}
	&.open {
		select {
			opacity: 1;
			@include transition((opacity 0.2s ease 0s, top 0.2s ease 0s, visibility 0s ease 0s));
		}
		ul {
			opacity: 1;
		}
	}
}

.custom-select {
	position: relative;
	a {
		display: block;
		font-size: 14px;
		padding: 0 15px;
		height: 34px;
		line-height: 34px;
		background: $color-white;
		text-decoration: none;
		color: $color-gray-middle;
	}
	& > a {
		border: 1px solid #E6E7E8;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 12px;
			right: 15px;
			width: 16px;
			height: 9px;
			background: image-url("v2/arr-select.png") no-repeat;
		}
	}
	.select {
		border: 2px solid $color-blue-light;
		border-radius: 5px;
		width: 100%;
		opacity: 1;
		box-shadow: 0 0 4px rgba(0,0,0,0.5);
		background: $color-white;
		position: absolute;
		top: 0px;
		left: 0;
		z-index: 10;
		opacity: 0;
		visibility: hidden;
		font-size: 14px;
		cursor: pointer;
		@include transition(all 0.1s);
		& > a {
			border-radius: 5px 5px 0 0;
			color: $color-text-black;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				top: 12px;
				right: 15px;
				width: 16px;
				height: 9px;
				background: image-url("v2/arr-select.png") no-repeat;
			}
		}
		ul {
			border: 0 0 5px 5px;
			overflow: hidden;
			li {
				list-style: none;
			}
			a {
				display: block;
				color: $color-text-black;
				background: none;
				&:hover {
					background: $color-blue-light;
					color: $color-white;
				}
			}
		}
	}
	&.active .select {
		opacity: 1;
		visibility: visible;
	}
}

.custom-checkbox {
    label {
        display: inline-block;
        width: 12px;
        height: 12px;
        position: relative;
        cursor: pointer;
        padding-left: 30px;
       	width: 100%;
       	margin-left: 0;
        &:after {
            content: '';
            width: 20px;
            height: 20px;
            border: 1px solid #E6E7E8;
            background: $color-white;
            position: absolute;
            top: 1px;
            left: 1px;
        }
        &:before {
        	content: '';
        	width: 21px;
        	height: 18px;
        	position: absolute;
        	top: 0;
        	left: 0;
        	z-index: 2;
        	background: image-url('v2/tick.png') no-repeat;
        	display: none;
        }
    }
    input[type="checkbox"] + label,
    input[type="radio"] + label {
    	margin-left: 0;
    }
    input { display: none; }
    input:checked + label:before {
        display: block;
    }
}

.input-group {
	margin-bottom: 20px;
	display: block;
	label {
		width: 83px;
		float: left;
		text-align: right;
		font-size: 18px;
		line-height: 32px;
	}
	.select-box,
	.range-input,
	input[type=text] {
		float: right;
		width: calc(100% - 110px);
	}
}

.field_with_errors {
  display: inline;
  #user_first_name,
  #user_last_name,
  #user_phone,
  #user_email,
  #user_password {
    border: 1px solid red
  }
}

.field_with_errors
  .message {
    margin-top: 1px;
    text-align: left;
    color: #D00;
    padding-left: 10px;
    font-size: 14px;
}

.red {
  font-size: 16px;
  color: red;
}

.displayMsg {
  display: block;
}
