<div class="body no-padding modal change-location-modal">
	<h3>Change Search Location</h3>
	<p>Put in a new zip code to search caregivers in that area. You will see all caregivers within a 30 mile radius of your search.</p>
	<form>
		<div class="custom-input">
			<input type="text" />
			<input type="submit" value="Search" />
		</div>
	</div>
</div>