<div class="reset-confirmation">
  <div class="row">
    <div class="large-8 large-offset-2 small-8 small-offset-1 columns">
      <%= image_tag 'bg/idea.png'  %>
      <br/>
      <h3>Almost done!</h3>
          <p>We just sent an email to <%= @email %> with instructions on how to reset your password. </p>
          <p class="bold">Please remember to check your email and junk folder!</p>
    </div>
  </div>
</div>

