<div class="caregiver-faq">
  <div class="row">
    <h1>Frequently Asked Questions</h1>
    <div class="large-4 columns">
      <h5>What is CareSpotter?</h5>
      <p>CareSpotter is a website that helps families find professional caregivers in their community for private pay care jobs.</p>
    </div>
    <div class="large-4 columns">
      <h5>Is there a cost?</h5>
      <p>No, CareSpotter is completely free for professional caregivers. We charge families a small fee to post care jobs.</p>
    </div>
    <div class="large-4 columns">
      <h5>Can I just send my resume?</h5>
      <p>Sorry, no, all caregivers have to create a profile, which better shows families your ability and experience as a caregiver.</p>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <h5>How do I get paid?</h5>
      <p>We connect you directly with families so the family will pay you directly. We are working on a direct deposit program that will be finished soon.</p>
    </div>
    <div class="large-4 columns">
      <h5>Are you an agency?</h5>
      <p>No, we connect you directly with families for private pay care jobs, which pay higher wages than agencies.</p>
    </div>
    <div class="large-4 columns">
      <h5>Who decides my hourly rate?</h5>
      <p>You set your own rate, or negotiate a rate with families depending on the job. Private care jobs typically pay between $13/hr and $15/hr.</p>
    </div>
  </div>
</div>
