<div class="item">
	<div class="author">
		<!-- <%= avatar_tag(reference.author, :thumb, class: 'small-avatar') %> -->
		<span><%= reference.user_name %> has hired <%= reference.caregiver_name %></span>
	</div>
	<div class="desc">
  		<blockquote><%= reference.body %></blockquote>
	</div>
</div>