<div class="add-education">
  <header>
    Edit Experience
  </header>
  <div class="body edit-experience">
      <div class="form">
        <%= render partial: 'experiences/form' %>
    </div>
  </div>
</div>
