<div class="row seo-page">

	<div class="clear">
		<div class="descr">

			<h2>Orlando Senior Caregivers</h2>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>

			<ul>
				<li>lorem ipsum</li>
				<li>lorem ipsum</li>
				<li>lorem ipsum</li>
			</ul>

		</div>

		<div class="statistics">
			<h2>133 Orlando Senior Caregivers</h2>
			<ul>
				<li>Avarege Pay Rate: $13.00</li>
				<li>Avarege Pay Rate: $13.00</li>
				<li>Avarege Pay Rate: $13.00</li>
				<li><a href="#">Sign up for free</a></li>
			</ul>
		</div>

	</div>

	<div class="nearby">
		<strong>Search Orlando for caregivers. Carespotter will help you fin caregivers in Orlando, Florida.</strong><br/>
		Here are some nearby cities with caregivers that may be closer to you: <a href="#">city</a>
	</div>

	<div class="claim">
		<h3>Connect with Local, Professional Senior Caregivers Today</h3>
		<a href="#" class="btn white medium">Get Started</a>
	</div>

	<div class="caregivers-list">
		<div id="caregivers">
            <%= render :partial => 'users/user' %>
            <%= render :partial => 'users/user' %>
        </div>
	</div>

	<div id="paginator" class="paginator">
        <ul>
            <li class="prev"><a href="#"></a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li>...</li>
            <li class="next"><a href="#"></a></li>
        </ul>
    </div>

</div>
