<div class="item">
<h3>Payout Schedule</h3>
<table class="blue-table">
    <thead>
        <tr>
            <th>Payment taken</th>
            <th>In bank account</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sunday 3 PM PT – Monday 3 PM PT</td>
            <td>Tuesday morning</td>
        </tr>
        <tr>
            <td>Monday 3 PM PT - Tuesday 3 PM PT</td>
            <td>Wednesday morning</td>
        </tr>
        <tr>
            <td>Tuesday 3 PM PT – Wednesday 3 PM PT</td>
            <td>Thursday morning</td>
        </tr>
        <tr>
            <td>Wednesday 3 PM PT - Thursday 3 PM PT</td>
            <td>Friday morning</td>
        </tr>
        <tr>
            <td>Thursday 3 PM PT – Friday 3 PM PT</td>
            <td>Monday morning</td>
        </tr>
        <tr>
            <td>Friday 3 PM PT - Sunday 3 PM PT</td>
            <td>Monday morning</td>
        </tr>
    </tbody>
</table>
</div>