<div class="add-education">
  <header>
    Edit Education
  </header>
  <div class="body edit-school">
      <div class="form">
        <%= render partial: 'schools/form' %>
    </div>
  </div>
</div>
