<section class="home-references row">
    <div class="slick-slider">
        <h2>We've Helped More Than 458 Families Find an Amazing Caregiver!</h2>
        <div class="item">
            <img src="<%= asset_path('v2/res/home-reference.png') %>">
            <p>
                "There's no way I would have found my mom's caregiver without CareSpotter! The process has allowed me to have the freedom, confidence and peace of mind that not only have I found a caregiver for my mom, but found a great companion. When I come to visit, my mom's hair and make are done and she looks fantasitic. They have a great relationshipo and the caregiver has really taken a personal interest in her. I couldn't be happier.
            </p>
            <div class="author">
                Tony Jenkins,<br>Florida Blue Orlando Market President<br>Orlando Florida
            </div>
        </div>
        <div class="item">
            <img src="<%= asset_path('v2/res/home-reference.png') %>">
            <p>
                "My folks and I met Patric yesterday, he's perfect. He's a very nice caregiver and he's a chef, so he fit perfect with my dad, the foodie. Plus he lives 10 minutes away! I will be letting my coworkers and friends know about the success I had with CareSpotter, thanks so much for your help!"
            <div class="author">
                Deb McLean, MS, RD, LDN<br>Community Meals Program<br>Boston, Massachusetts
            </div>
        </div>
        <div class="item">
            <img src="<%= asset_path('v2/res/home-reference.png') %>">
            <p>
                "Everything has been wonderful, Shelly is a huge relief for us. She sees my father-in-law daily and he has made significant progress as a result of her care. We are so pleased, she's wonderful with my father-in-law and it's obvious she sincerely cares for him. Thank you CareSpotter! I recommend the site to any family seeking helped for their loved ones."
            </p>
            <div class="author">
                Jeff York,<br>York Financial Services<br>Orlando Florida
            </div>
        </div>
    </div>
</section>

<section class="home-find-perfect">
    <a href="#">Click Here to Find the Perfect Caregiver</a>
</section>
