<header>
	Apply For Care Job
</header>

<div class="body no-padding">

	<div class="mcolumn two-third border-right">
		<p>You can request references from your personal network, and the references will appear publicli on your Carespotter profile. to help employers get to know you. You shuld only request references from people who know you well.</p>

		<form action="#" method="post" class="myform" id="apply-care-job">
			<div class="field">
				<textarea></textarea>
			</div class="field">
			<div class="field houry-rate">
				<h6>Your hourly rate range for this job is:</h6>
				<div class="elm">
					From
					<span class="blue big">$</span>
					<input type="text">
					to
					<input type="text">
					/hour
				</div>
			</div>
			<div class="action center">
				<input type="submit" class="btn main" value="Apply">
				<span class="cancel">or <a href="#">Cancel</a>
			</div>
		</form>
	</div>

	<div class="mcolumn one-third">
		<h5>Tips</h5>
		<div class="tip">
			<h6>
				<span class="flag red">tip</span>
				Treat this like a regular interview
			</h6>
			<p>
				It's a good idea to ask for examples of past work, references and even a phone interview.
			</p>
		</div>
		<div class="tip">
			<h6>
				<span class="flag red">tip</span>
				Consider hiring for a test job
			</h6>
			<p>
				Hire one or more applicants for a few hours worth of work or a small fixed-price job. Then keep the best one for the ongoing position. You can update the terms of this job before you make your hire.
			</p>
		</div>
		<div class="tip">
			<h6>
				<span class="flag red">tip</span>
				Never accept offers to work or pay outside of Carespotter
			</h6>
			<p>
				Carespotter tools and payments are designed to protect users. In addition to all the collaboration and tracking tools we offer, when you hire through Carespotter you are guaranteed to only pay for hours actually worked.
			</p>
		</div>

	</div>

</div>


