<div class="modal-text">
	<header>Thanks for creating a profile!</header>
	<div class="section-content">
		<p>Thank you for creating a profile on CareSpotter, but you cannot apply to care jobs until your profile has been approved. A CareSpotter team member will contact you shortly, or you can contact us at 407-792-4697 to get your profile approved quicker. Thank you, and talk soon!</p>
		<div class="buttons">
			<a href="#close-modal" rel="modal:close" class="btn main">Okay!</a>
		</div>
	</div>
</div>