<div class="global-error">
	<img src="/assets/404.png" alt="404 not found">
	<h2>Uh oh, that page couldn't be found.</h2>
	<p>
		But you're looking for care in all the right places - let's find someone right for you.
	</p>

	<%= render :partial => 'caregivers/search_form', locals: {request: request} %>
</div>