<div class="static-page">

	<header>
		<h2>Frequently Asked Questions</h2>
	</header>

	<section id='faq' class="faq main to-columns">

		<div class="small-side-nav nav">
			<section>
				<h4>General</h4>
				<ol>
					<li><a href="#what">What is CareSpotter?</a></li>
					<li><a href="#different">How is CareSpotter different?</a></li>
					<li><a href="#contact">How do I reach CareSpotter?</a></li>
				</ol>
			</section>
			<section>
				<h4>For Families and Care Seekers</h4>
				<ol>
					<li><a href="#use">How do I use CareSpotter?</a></li>
					<li><a href="#better">How is CareSpotter better than an agency?</a></li>
					<li><a href="#vetting">What is CareSpotter's vetting process?</a></li>
					<li><a href="#checks">Have your caregivers received background checks?</a></li>
					<li><a href="#safety">What else do you do to address safety?</a></li>
					<li><a href="#rates"> Who determines the hourly rates of the caregivers?</a></li>
					<li><a href="#week">I only want to hire a caregiver for one day a week. Is this possible?</a></li>
					<li><a href="#pay">How do I make payment?</a></li>
					<li><a href="#direct">Will I ever have to pay the caregiver directly?</a></li>
					<li><a href="#privacy">How do you protect my privacy?</a></li>
					<li><a href="#insurance">Am I always protected by insurance when I hire through CareSpotter?</a></li>
				</ol>
			</section>
			<section>
				<h4>For Caregivers</h4>
				<ol>
					<li><a href="#use2">How do I use CareSpotter?</a></li>
					<li><a href="#reqts">What are the requirements to be a caregiver?</a></li>
					<li><a href="#cost">How much does it cost to list my profile on CareSpotter?</a></li>
					<li><a href="#charge">Is there any charge to use CareSpotter?</a></li>
					<li><a href="#profile">How do I create a CareSpotter profile?</a></li>
					<li><a href="#apply">How do I search and apply for caregiver positions?</a></li>
					<li><a href="#payment">How does payment work?</a></li>
					<li><a href="#paid">When do I get paid?</a></li>
					<li><a href="#taxes">Do I have to handle my own taxes?</a></li>
					<li><a href="#hourly">Who decides my hourly rate?</a></li>
				</ol>
			</section>
		</div>

		<div class="main-col">
			<article>
				<h3>General</h3>
				<ol>
					<li><a name="what"><h6>What is CareSpotter?</h6></a><p>CareSpotter is a secure, community marketplace that connects families and professional caregivers. Families can search for a local caregiver using more than 150 unique search criteria and social matching tools. All site caregivers have passed a criminal background check, phone interview and are insured and bonded. Once you find your caregiver, CareSpotter helps guide the hiring and management process. Our mission is to help you find the perfect caregiver for your loved one.</p></li>
					<li><a name="different"><h6>How is CareSpotter different?</h6></a><p>CareSpotter was designed by families and professional caregivers to help you easily and securely connect with talented, experienced caregivers. All site caregivers are prescreened, insured and bonded, and have passed CareSpotter's 6 Step Vetting Process. CareSpotter also features tools to help you manage your caregiver more effectively, such as our online care journal and secure payment system. CareSpotter also focuses on supporting independent caregivers through ongoing training and community support, so they can provide exceptional service to families.</p></li>
					<li><a name="contact"><h6>How do I reach CareSpotter?</h6></a><p>You can contact us by email at <a href="mailto:info@carespotter.com">info@carespotter.com</a> by giving us a call at TK.</p></li>
				</ol>
			</article>
			<article>
				<h3>For Families and Care Seekers</h3>
				<ol>
					<li><a name="use"><h6>How do I use CareSpotter?</h6></a><p>Start by visiting our home page, entering the location of care and whom the care is for, and then click "Find Caregivers." We will walk you through the entire process step-by-step so you find a caregiver that matches your specific needs and budget. Once you complete our survey, one of our team members will contact you and will help you find the perfect caregiver. Please provide as much detail as possible on the type of care you need while filling out the survey. If you need help, we're only a phone call away, call us at 1-800-494-3106.</p></li>
					<li><a name="better"><h6>How is CareSpotter better than an agency?</h6></a><p>The top two differences are cost and quality. Families can expect to pay 30 to 50 percent less than they would with an agency. And since your caregiver is personally matched with your family and earns significantly more than they would through an agency, families get more engaged, dedicated caregivers. CareSpotter also provides more support than a traditional agency through its monthly training webinars and community caregiver meetup group for families and caregivers. Our technology also streamlines the payment process, and allows out
					of state families members to keep updated on your loved ones status.</p><p>CareSpotter is not an agency, but we offer the best of both worlds by prescreening all site caregivers and also featuring an onsite care manager you can call anytime for questions or concerns.</p></li>
					<li><a name="vetting"><h6>What is CareSpotter's vetting process?</h6></a><p>All site caregivers must pass a rigorous 6-step vetting process that includes a national and local county background check, social security number verification, credentials check and phone interview. Caregivers must also post two professional references that are available to families for follow up.</p></li>
					<li><a name="checks"><h6>Have your caregivers received background checks?</h6></a><p>All CareSpotter caregivers have passed an intense screening and background check that includes a national, local county criminal background check and social security verification. You always have the ability to request the caregiver's background check or request a recent one. Safety and trust are our top concern.</p></li>
					<li><a name="safety"><h6>What else do you do to address safety?</h6></a><p>Safety is our top concern, and CareSpotter has multiple safety features built into the site. All caregivers are insured and bonded through the site, and every hour that a caregiver works with a CareSpotter family shows up on their profile showing community trust in the caregiver. Families are also able to see if the caregiver shares mutual Facebook friends or attends the same community groups like your place of worship or gym. CareSpotter guides families through the caregiver interview process, and families are also encouraged to meet with caregivers at our monthly community meetup group before hiring. Families also provide performance
					feedback for the caregiver weekly, which we monitor, and you can contact CareSpotter's Care Manager if they ever have any questions or concerns.</p></li>
					<li><a name="rates"><h6>Who determines the hourly rates of the caregivers?</h6></a><p>Caregivers set their own hourly rate based on their experience, certifications, and education. The hourly rate on the profile of each caregiver can be seen as their minimum rate, and families can negotiate with caregivers depending on the service needed. When a caregiver is hired, both the client and the caregiver agree on a fair hourly rate for that job.</p></li>
					<li><a name="week"><h6>I only want to hire a caregiver for one day a week. Is this possible?</h6></a><p>This is one area where CareSpotter excels above agencies that don't offer a cost effective solution for short-term hires. Our caregivers are readily available for short-term hires for families caregivers seeking the additional support of a vetted, professional caregiver at an affordable rate.</p></li>
					<li><a name="pay"><h6>How do I make payment?</h6></a><p>All payments are made through CareSpotter's secure payment system using your credit or debit card. Each week, the caregiver logs his/her hours using our timesheet tracking tool you will be sent an electronic invoice to approve. You will also do a short evaluation of the caregiver that we receive internally. Once the invoice is approved, we will charge your credit or debit card and then directly deposit the caregivers earnings into their bank account.</p></li>
					<li><a name="direct"><h6>Will I ever have to pay the caregiver directly?</h6></a><p>No, Carespotter will take care of all payments. You will not have to worry about going to the bank or leaving cash and checks out for your caregiver.</p></li>
					<li><a name="privacy"><h6>How do you protect my privacy?</h6></a><p>Carespotter is password protected, HIPAA Compliant and features the same web security used my every major bank and financial institution. None of your personal information is ever shared without your expressed consent. See our Privacy Policy for more info</p></li>
					<li><a name="insurance"><h6>Am I always protected by insurance when I hire through CareSpotter</h6></a><p>Yes, you are. When you book and hire a caregiver through CareSpotter you are automatically covered for bodily injury, property damage, and theft through our comprehensive, $1 million dollar insurance policy.</p></li>
				</ol>
			</article>
			<article>
				<h3>For Caregivers</h3>
				<ol>
					<li><a name="use2"><h6>How do I use CareSpotter?</h6></a><p>CareSpotter was designed for caregivers by caregivers. We know being a caregiver is a calling, and it's also very difficult work. So CareSpotter has created tools and processes to help you connect with families directly and work more effectively as an entrepreneur. By connecting with families directly, you can find clients who best match your unique offerings as well as set your own hourly rate (and keep 100% of that rate), and pick your own hours. Our caregivers earn 25%-30% more than working through a "traditional agency." CareSpotter also offers monthly webinar and conference call training as well as a monthly community meetup group to network with fellow independent caregivers. In short, Carespotter offers the best of both independent caregiving and working for a home care agency. We empower you to be your own boss.</p></li>
					<li><a name="reqts"><h6>What are the requirements to be a caregiver?</h6></a><p>All caregivers must have at least 1+ years work experience in the field. CareSpotter also requires at least two professional references and strongly encourages more. Referencesa re shown on each caregiver profile and help your marketability. If you are a CNA, HHA, NHA, LPN or RN, we do verify certifications. Caregivers must also have reliable transportation and a phone. Along with these specific qualifications, we have a high bar for only accepting the best caregivers, which goes beyond resumes. We interview all potential CareSpotter caregivers and expect the highest level of professionalism when working with families through CareSpotter.</p></li>
					<li><a name="cost"><h6>How much does it cost to list my profile on CareSpotter?</h6></a><p>It’s absolutely 100% free to list your profile. CareSpotter charges a small service fee to the client for all ongoing payments, which helps cover your insurance and bonding as well as the monthly training resources.</p></li>
					<li><a name="charge"><h6>Is there any charge to use CareSpotter?</h6></a><p>You must get a background check through the site, but that is reimbursed after your first week of working with a family. So not really.</p></li>
					<li><a name="profile"><h6>How do I create a CareSpotter profile?</h6></a><p>Choose the Caregivers Click Here button from the homepage menu and click on the Create a Profile utton. This will begin your registration process. Once registered you will need to upload a profile picture and start building your online profile. With a complete profile you can begin searching, interviewing and applying to caregiver positions in your area.</p></li>
					<li><a name="apply"><h6>How do I search and apply for caregiver positions?</h6></a><p>Once logged in, click the “Search Jobs” tab on the top panel. This brings you to our caregiver positions search function. On the left side bar type in your zipcode and distance you are willing to travel. Click “Change Location/Reset” and jobs that match your criteria will show up. You must complete your profile before you can search for a job. Please make sure to complete all sections of your profile. Check your status bar on the left side of your profile page.</p><p>Once you open a job that interests you, click “apply” and this will send a message to the care seeker notifying them of your application. They will respond if they are interested in learning more about you and setting up an interview.</p></li>
					<li><a name="payment"><h6>How does payment work?</h6></a><p>Once you have hired and connected with a family, you will create a payment profile with your bank account. This is confidential information that CareSpotter never shares with other parties. Each week, you submit your timecard to the family for approval, and you are paid on a weekly basis with a direct deposit into your bank account. CareSpotter does not take any percentages out of your hourly or daily rate. If you agree on $15 per hour, you get paid $15 per hour. Caregivers being paid through CareSpotter earn 25%-30% more than working through a "traditional agency."</p></li>
					<li><a name="paid"><h6>When do I get paid?</h6></a><p>After you log your hours on your timesheet page simply click the “Create Invoice” icon. This will create your invoice. After reviewing it then you must click “Submit” for the invoice to be electronically sent to your client for approval. Once they approve your invoice, you will be notified via email that your earnings are available to withdraw. Once you have provided your bank details and clicked the withdraw button your earnings will be automatically deposited to your bank account.</p></li>
					<li><a name="taxes"><h6>Do I have to handle my own taxes?</h6></a><p>When you get hired through Carespotter you become that client's employee. As such, you have certain federal and state tax requirements. We help the family issue you a W2 at the end of the tax year. We don’t withhold your earnings and you will be responsible for paying your taxes at the end of the year. Learn more...</p></li>
					<li><a name="hourly"><h6>Who decides my hourly rate?</h6></a><p>You set your own hourly rate. CareSpotter caregivers earn 25%-30% more than working through a "traditional agency.” And with CareSpotter you keep your entire hourly rate.</p></li>
				</ol>
			</article>
		</div>


	</section>

</div>
