
<div class="body no-padding change-location-modal">

    <h3>Change Search Location</h3>
	<p>Put in a new zip code to search caregivers in that area. You will see all caregivers within a 30 mile radius of your search.</p>

    <%= render partial: 'caregivers/search_form' %>

</div>


