<header>
	Thank you for registering!
</header>

<div class="body thanks-registration">

	<p>A representative is reviewing your request and will contact you shortly.</p>

	<ul class="thanks-modal">
		<li>
			<i class="thanks first"></i>
			<div class="desc">
				<h6>Find</h6>
				<p>We make it easy to find caregivers that match your specific needs and budget inline</p>
			</div>
		</li>
		<li>
			<i class="thanks second"></i>
			<div class="desc">
				<h6>Hire</h6>
				<p>Simply contact, interview and hire a caregiver. Set your own hours and rates. Track your caregiver time sheets online.</p>
			</div>
		</li>
		<li>
			<i class="thanks third"></i>
			<div class="desc">
				<h6>Play</h6>
				<p>Securely pay your caregiver with credit or debit cards. You can relax knowing you have tax assistanc, caregiver liabikity insurace and bonding.</p>
			</div>
		</li>
	</ul>

	<p>CareSpotter is the smart way to hire caregivers. Save up to 50% versus traditional agencies with our low 15 % services fee.</p>

	<a href="#" class="btn main">Continue</a>

</div>
