<div class="body no-padding sign-up">
  <div class='hero'>
    <div id="box">
      <h5>CareSpotter Helps Families <br/>Find Private Caregivers</h5>
        <p>Get Started and Post Care Job</p>
        <p><%= link_to "Find a Caregiver",  new_user_registration_path, class: 'btn button' %></p>
      <hr/>
        <p>Apply to a Private Care Job</p>
        <p><%= link_to "Apply to Jobs",  web_become_a_caregiver_path, class: 'btn button'%></p>
    </div>
  </div>
</div>
