<div class="static-page">

	<header>
		<h2>Terms of use</h2>
	</header>

	<section class="main">
        <p>Please read this User Agreement carefully before accessing or using our services or website (collectively, the “Services”).</p>

        <h3>Acceptance of This Agreement</h3>
        <p>By accessing or using the Services in any way, you agree to and are bound by the terms and conditions set forth herein and any changes hereto that CareSpotter, Inc. ("CareSpotter," “we,” “us,” or “our”) may publish from time to time (collectively, the "Agreement"). If you do not agree to all of the terms and conditions contained in the Agreement, you should not access or use the Services.</p>

        <p>CareSpotter may change this Agreement from time to time by posting a revised version on our website. Each revised version will state its effective date, which will be on or after the date we post it. If the revised version materially reduces your rights or increases your responsibilities, we may post it in advance of the effective date. Your continued use of the Services after the effective date of a revised version of this Agreement constitutes your acceptance of its terms. Your access and use of the Services will be subject to the current version of the Terms, rules, and guidelines posted on the Services at the time of such use. If you breach any of the terms of this Agreement, your license to access or use this Services shall automatically terminate and you must cease accessing or using the Services immediately.</p>

        <p>You understand that by indicating your agreement, or by using the Services, you are agreeing to be bound by this Agreement. If you do not accept this Agreement in its entirety, you may not access or use the Services. If you agree to this Agreement on behalf of an entity, you represent and warrant that you have the authority to bind that entity to this Agreement. In that even, “You” and “Your” will refer and apply to that entity. </p>

        <h3>1. THE CARESPOTTER SERVICES.</h3>

        <h4>1.1 Purpose of the CareSpotter Services.</h4>
        <p>Our Services provide a communication platform that enables individuals seeking services, their representatives, and/or individual(s) for whom services will be provided (collectively, “Care Seekers”) to contact and hire providers of such services (“Care Givers”) (Care Seekers, Care Givers and other users of the Services are collectively, “Users”). A “Service Contract,” governed by this Agreement, is formed when a Care Seeker hires and Care Giver via our Services. CareSpotter provides Care Seekers and Care Givers with tools that facilitate their interactions. CareSpotter does not supervise, schedule, or assign duties to Care Givers. CareSpotter does not hire, fire, or discipline Care Givers. With respect to the Care Giver they engage, the Care Seeker is solely responsible for such decisions. CareSpotter does not employ, recommend, or endorse any of the Care Givers or Care Seekers listed on or using the Services. Care Givers post profiles and apply for jobs. Care Seekers post jobs and invite Care Givers to apply. Subject to the provisions set forth in this Agreement, the Care Seeker and Care Giver are responsible for negotiating the final pay structure, work schedule, and responsibilities of the parties.</p>

        <p>CareSpotter is not liable for the performance of Care Givers. Care Seekers must pay Care Givers via the Services. Care Seekers and Care Givers are responsible for complying with all applicable laws in connection with the employment relationship they establish. At no time does CareSpotter assume any tax responsibility. CareSpotter does not provide Workers’ Compensation insurance.</p>

        <p>CareSpotter covers each Care Giver with a $25,000 surety bond. You agree that any claims made under this surety bond must be made in writing within ten (10) days of the occurrence. Care Seekers will not entrust a Care Giver with unattended premises or any part thereof. Additionally, Care Seekers will secure all valuables, including, but not limited to, cash and negotiable instruments, and will not entrust a Care Giver with the same.</p>

        <p>CareSpotter facilitates, through a third party, a $1 million aggregate liability policy on behalf of each Care Giver. Users hereby represent, understand, and expressly agree that CareSpotter does not have any liability for or control over the quality, timing, legality or any other aspect whatsoever of the services actually delivered by Care Givers, nor of the veracity, integrity, responsibility or any of the actions whatsoever of the Care Seekers, or persons receiving care from the Care Giver. CareSpotter does not provide medical advice, diagnosis or treatment advice or engage in any conduct that requires a professional license. Users hereby expressly agree to hold CareSpotter (and or its agents, assigns, representatives, advertisers or employees) harmless from any liability for any instruction, advice, act, omission, or services delivered which originated through the Services. CareSpotter expressly disclaims any liability whatsoever for any damage, suits, claims, and/or controversies that have arisen or may arise, whether known or unknown therefrom.</p>

        <h4>1.2 Eligibility.</h4>
        <p>The CareSpotter Services are available only to: (i) legal entities; and (ii) persons who are at least eighteen (18) years old and are otherwise capable of forming legally binding contracts under applicable law. </p>

        <h4>1.3 Care Giver Eligibility.</h4>
        <p>Eligibility Approval: By becoming or attempting to become a Care Giver or Care Seeker, or by using the Services, every User certifies that the User meets and will continue to meet the following conditions (“Eligibility Conditions”) for as long as the User uses the Services:</p>

        <ul>
            <li>Will not defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as, but not limited to, rights of privacy and publicity) of other Users.</li>
            <li>Will not publish, post, upload, distribute or disseminate, via the Services or otherwise, any profane, defamatory, infringing, obscene or unlawful topic, name, material or information about other Users.</li>
            <li>Will not restrict or inhibit any other User from using the Services.</li>
        </ul>

        <h4>1.4 Care Giver Evaluation and Removal.</h4>
        <p>Care Givers authorize CareSpotter to, via a third party, conduct a background check on the Care Giver. Care Givers hereby release CareSpotter from any liability and responsibility in securing this background check and utilizing the information to assist in determining if the Care Giver shall be an approved Care Giver. Care Givers understand that CareSpotter may re-order a background check at ANYTIME during the Care Giver’s utilization of the Services. </p>

        <p>CareSpotter reserves the right to refuse a User seeking to become a Care Giver or a Care Giver access to all or a portion of the Services based on CareSpotter’s evaluation of such background checks or other information.</p>

        <p>Pursuant to the Fair Credit Reporting Act (the "FCRA"), by this notice CareSpotter, Inc. notifies you that if you seek to become a Care Giver, CareSpotter may obtain a consumer report about you from a consumer reporting agency. Consumer reports may contain information on your character, general reputation, personal characteristics, and mode of living, including but not limited to consumer credit, criminal history, workers' compensation, driving, employment, military, civil, and educational data and reports. If you use or access information provided by a third-party verification service offered through the Services, you warrant that you will use such information only for a purpose permitted by the FCRA and that you will comply with any and all applicable obligations of the FCRA, as well as all other applicable consumer reporting laws. If you decide to access, use, or share information provided by a third-party verification service offered through the Services with any other party, you agree to do so in accordance with applicable law and to indemnify and hold harmless CareSpotter from any loss, liability, damage, or costs that may result from such access, use, or sharing of this information regardless of the cause. CareSpotter does not assume and expressly disclaims any liability that may result from the use of information provided by a third-party verification service.</p>

        <p>Care Givers and Care Seekers agree to make their own decisions and assessments about persons with whom they form contractual relationship with. Care Givers are responsible for the content of their profile on CareSpotter. CareSpotter does not independently verify any of the information in any Care Giver profile. CareSpotter may evaluate background check reports on Care Givers. </p>

        <p>If CareSpotter becomes aware (such as through a background check) that an Eligibility Condition is not met or appears not to be met, CareSpotter may, without notice, remove the Care Giver, and information related to the Care Giver, from the Services. Each Care Giver agrees to make no further use of the Site or Service after such removal. CareSpotter reserves the right (but does not undertake any duty) to take appropriate legal action, including without limitation, the pursuit of civil, criminal, and/or injunctive redress. CareSpotter hereby disclaims, and each User agrees CareSpotter shall have not have, any liability whatsoever for: (1) any inaccuracy in any background check report, other consumer report, identity report or other report from a third-party, or (2) misstatements and/or misrepresentations made by any User of the Services. Users hereby represent, warrant, and agree to indemnify, defend and hold CareSpotter harmless from and against the foregoing.</p>

        <p>CareSpotter will make a good faith effort to terminate a Care Giver if a background check report indicates that the Care Giver does not meet the Eligibility Conditions or CareSpotter’s internal approval requirements.</p>

        <h3>2. CARESPOTTER GENERAL USER POLICIES.</h3>

        <h4>2.1 CareSpotter Fees.</h4>
        <p>As a service fee, CareSpotter charges a percentage of monies paid to Care Givers by Care Seekers pursuant to any Service Contract.</p>

        <h4>2.3 Subscriptions</h4>
        <p>Lifetime is defined as lifetime of the product. If the product is ever discontinued, Merchant Legal Name has no liability to continue to provide the services and the user agrees that all services have been fully delivered and were satisfactory. There is no continuing liability on the behalf of Merchant Legal Name with regards to the user.</p>

        <h4>2.2 General User Obligations.</h4>
        <p>You will not access (or attempt to access) the Services by any means other than the interface provided, and you will not use information from the Services for any purpose other than the purpose for which it was made available. You will not engage in any activity that interferes with or disrupts the functioning of the Services.</p>

        <h4>2.3 Identity Verification.</h4>
        <p>CareSpotter reserves the right to validate User information at any time, including but not limited to validation against third party databases or the verification of one or more official government or legal documents that confirm the User's identity. You authorize CareSpotter, directly or through third parties, to make any inquiries necessary to validate your identity and confirm your ownership of your email address or financial accounts, subject to applicable law. Failure to provide information about you and your business when requested is a violation of this Agreement.</p>

        <h4>2.4 Disintermediation.</h4>
        <p>You acknowledge that CareSpotter has a substantial investment in identifying and approving Care Givers and maintaining the Services. You further acknowledge that the you are bound by this Agreement. You agree not to enter into a contractual relationship with any Care Seeker or Care Giver you are put in contact with or otherwise meet via the Services. You agree that during the term of a Service Contract and for a period of one (1) year from the last day that you use a Care Giver’s services, you will not, directly or indirectly, or through family or any other person(s), agency, or other entity, utilize or hire the Care Giver who had provided services to you, unless it is done via the Services. You shall make all payments relating to, or in any way connected with, a Service Contract (including, without limitation, bonuses) through the Services. Any action that encourages or solicits complete or partial payment outside of the Services is a violation of this Agreement.</p>

        <p>You and CareSpotter acknowledge that it would be difficult to estimate CareSpotter's actual losses and damages if you breaches the obligations set forth in the preceding paragraph. Therefore, if you, directly or indirectly, or through family or other person(s), agency, or other entity, utilizes or hires any Care Giver who had provided services to you during the term of a Service Contract or the one (1)year period following the last day you used the Care Giver’s services, you will pay to CareSpotter $5,000 as liquidated damages for each Care Giver you utilize or hire, plus all reasonable costs that CareSpotter incurs in collecting such amount, including, but not limited to, its collection fees and legal fees. You and CareSpotter agree that this amount is not a penalty but represents their best estimate of CareSpotter's expected actual losses and damages, including, but not limited to, the cost CareSpotter expended in identifying and approving the Care Giver’s replacement, as well as forgone business opportunities and other incidental and consequential damages. You authorize CareSpotter to charge your credit card or other payment method for these liquidated damages.</p>

        <h4>2.5 Non-payment.</h4>
        <p>If Care Seeker fails to pay amounts due under this Agreement, whether by cancelling Care Seekers’s credit card, initiating an improper chargeback, or any other means, Care Seekers’s CareSpotter account will be suspended, no additional payments will be processed, and any work pursuant to a Service Contract will be stopped. Without limiting other available remedies, Care Seeker must reimburse CareSpotter for amounts due upon demand, plus any applicable processing fees, charges or penalties, plus interest at the lesser of one and one-half percent (1.5%) per month or the maximum allowed by law, plus attorneys’ fees and other costs of collection as allowed by law.</p>

        <h4>2.6 Enforcement of Agreement and Policies.</h4>
        <p>CareSpotter has the right, but not the obligation, to suspend or cancel your access to the Services if it believes that you have violated or acted inconsistently with the letter or spirit of this Agreement or violated our rights or those of another party. Without limiting CareSpotter's other remedies, we may suspend or terminate your account, use self-help in connection with our rights to reclaim any available funds, and refuse to provide any further access to the services if (a) you breach any terms and conditions of this Agreement or other written policies and procedures posted on the Services; (b) we are unable to verify or authenticate any information you provide to us; or (c) we believe that your actions may cause legal liability for you, our Users or for CareSpotter.</p>

        <h4>2.7  Privacy.</h4>
        <p>You should review our Privacy Policy, the contents of which are incorporated by reference into this Agreement.</p>

        <h3>3. SERVICE CONTRACT TERMS BETWEEN CARE SEEKER AND CARE GIVER.</h3>
        <p>Unless otherwise agreed to in a writing signed by both Care Seeker and Care Giver, the terms and conditions of a Service Contract are as set forth in Sections 3.1 through 3.7 below (“Standard Terms”). Care Seeker and Care Giver may not agree to any other terms and conditions that affect the rights or responsibilities of CareSpotter.</p>

        <h4>3.1 Services.</h4>
        <p>Care Giver shall perform services in a professional and workmanlike manner, according to terms mutually agreed upon via the Services. Terms shall include applicable payment rate, duration of services, and frequency of services.</p>

        <h4>3.2 Care Seeker Payments and Billing.</h4>
        <p>Care Seeker shall pay the agreed-upon amount to CareSpotter, and Care Seeker will have no obligation of payment to Care Giver. Care Giver agrees that it will be paid solely by CareSpotter and Care Giver will not have any recourse against Care Seeker if Care Giver is not paid by CareSpotter. Care Seeker is billed for hourly Care Giver Fees on a weekly basis.</p>

        <h4>3.3 Termination of a Service Contract.</h4>
        <p>Either party may terminate the Service Contract at any time for any or no reason. However, the Care Seeker remains obligated to pay for any time the Care Giver worked prior to termination.</p>

        <h4>3.4 Worker Classification.</h4>
        <p>Care Seeker assumes all liability for proper classification of Care Givers as independent Care Givers or employees based on applicable legal guidelines. This Agreement does not create a partnership or agency relationship between Care Seeker and Care Giver. Care Giver acknowledges that CareSpotter does not, in any way, supervise, direct, or control Care Giver's work or services performed in any manner. CareSpotter does not set Care Giver's work hours and location of work. CareSpotter will not provide Care Giver with training or any equipment, labor or materials needed for a particular Contract. CareSpotter will not deduct any amount for withholding, unemployment, Social Security, or other taxes. Care Seeker and Care Giver will be solely responsible for all tax returns and payments required to be filed with or made to any federal, state, or local tax authority, in any nation, with respect to Care Giver's performance under the Service Contract. Care Seeker and Care Giver agree to indemnify, hold harmless and defend CareSpotter from any and all claims arising out of or related to their Service Contract, including but not limited to claims that Care Giver was misclassified as an independent contractor, any liabilities arising from a determination by a court, arbitrator, government agency or other body that Care Giver was misclassified (including, but not limited to, taxes, penalties, interest and attorney's fees), any claim that CareSpotter was an employer or joint employer of Care Giver, as well as claims under any employment-related laws, such as those relating to employment termination, employment discrimination, harassment or retaliation, as well as any claims for overtime pay, sick leave, holiday or vacation pay, retirement benefits, worker's compensation benefits, unemployment benefits, or any other employee benefits.</p>

        <h4>3.5 Third Party Beneficiary.</h4>
        <p>CareSpotter is hereby named as a third party beneficiary of each Service Contract.</p>

        <h4>3.6 General.</h4>
        <p>Service Contracts shall be governed by this Agreement, as applicable either directly or by way of analogy.</p>

        <h4>3.7 Entire Agreement.</h4>
        <p>The terms and conditions set forth in this Section 3 and any additional or different terms expressly agreed by Care Seeker and Care Giver shall constitute the entire agreement and understanding of Care Seeker and Care Giver with respect to each Service Contract and shall cancel and supersede any other prior or contemporaneous discussions, agreements, representations, warranties, and/or other communications between them.</p>

        <h3>4. ACKNOWLEDGMENTS BY USER OF CARESPOTTER'S ROLE.</h3>

        <h4>4.1 Service Contracts.</h4>
        <p>User expressly acknowledges, agrees and understands that: (i) the Services are merely a venue where Users may interact with Care Seekers or Care Givers; (ii) CareSpotter is not a party to any Service Contracts between Care Seekers and Care Givers; (iii) User recognizes, acknowledges and agrees that User is not an employee of CareSpotter and that CareSpotter does not, in any way, supervise, direct, or control User's work or Services; (iv) CareSpotter shall not have any liability or obligations under or related to Service Contracts or any acts or omissions by Users; (v) CareSpotter has no control over Care Givers or over the Services promised or rendered by Care Givers; and, (vi) CareSpotter makes no representations as to the reliability, capability, or qualifications of any Care Giver or the quality, security or legality of any services rendered by the Care Giver, and CareSpotter disclaims any and all liability relating thereto.</p>

        <h4>4.2 CareSpotter's Compensation.</h4>
        <p>All CareSpotter Fees are non-refundable, whether or not Service Contracts were satisfactorily completed.</p>

        <h3>5. PAYMENT METHODS.</h3>
        <p>Care Seeker hereby authorizes CareSpotter to run credit card authorizations on all credit cards provided by Care Seeker, to store credit card details as Care Seeker’s method of payment for Services, and to charge Care Seeker’s credit card (or any other form of payment authorized by CareSpotter or mutually agreed to between Care Seeker and CareSpotter). CareSpotter may, in its sole discretion, deviate from its typical billing cycle at any time.</p>

        <h3>6. WARRANTY DISCLAIMER.</h3>
        <p>CARESPOTTER MAKES NO EXPRESS REPRESENTATIONS OR WARRANTIES WITH REGARD TO THE SERVICES OR ANY ACTIVITIES OR ITEMS RELATED TO THIS AGREEMENT. TO THE MAXIMUM EXTENT PERMITTED BY LAW, CARESPOTTER DISCLAIMS ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES INCLUDING, BUT NOT LIMITED TO, THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.</p>

        <h3>7. LIMITATION OF LIABILITY.</h3>
        <p>Users agree not to hold CareSpotter, CareSpotter's agents and employees, officers, directors, corporate partners, or participants liable for any advice or services delivered which originated through the Services or otherwise were provided by a User. Users release CareSpotter and its agents, officers, directors, corporate partners, and employees from claims, demands and damages (actual or consequential) of every kind and nature, known and unknown, disclosed and undisclosed, arising out of or in any way connected with any such disputes. Users agree not to hold CareSpotter responsible for any physical loss or damage to, or loss of use of, any property.</p>

        <h3>8. INDEMNIFICATION.</h3>
        <p>By agreeing to the terms of this Agreement, Users agree to indemnify, defend, and hold harmless CareSpotter, its directors, officers, employees, agents, licensors, attorneys,  subsidiaries, and affiliates from and against any and all claim, loss, expense or demand of liability, including attorneys' fees and costs incurred by CareSpotter and its affiliates in connection with any claim by a third party (including an intellectual property claim) arising out of (i) materials and content Users submit, post or transmit through the Services, or (ii) use of the Services in violation of this Agreement or in violation of any applicable law. Users further agree that they will cooperate as reasonably required in the defense of such claims.</p>

        <h3>9. GENERAL.</h3>

        <h4>9.1 Entire Agreement.</h4>
        <p>This Agreement sets forth the entire agreement and understanding of the parties relating to its subject matter and cancels and supersedes any prior or contemporaneous discussions, agreements, representations, warranties, and other communications between them.</p>

        <h4>9.2 Severability.</h4>
        <p>If any of the terms or conditions herein shall be deemed invalid, void, or for any reason unenforceable, that term or condition shall be deemed severable and shall not affect the validity and enforceability of any remaining term or condition.</p>

        <h4>9.3 Applicable Law.</h4>
        <p>By visiting the Services, you agree that the laws of the State of Florida, without regard to principles of conflict of laws, will govern these Terms of Use and any dispute of any sort that might arise between you and us relating to the use of the Services. Any dispute relating in any way to your visit to or use of the Services shall be subject to the exclusive jurisdiction of the state or federal courts located in Duval County, Florida, and you consent to exclusive jurisdiction and venue in such court.</p>

	</section>

</div>
