<b>CareSpotter Eldercare Workplace Solutions</b><br>

According to a Gallop Poll, 1 in every 6 Americans working full or part-time report caring for a family member or friend, 

and according to a 2010 Metlife Study of 17,061 US workers, the family caregiving impact on work costs employers 

$17.1 to $33.6 billion annually in lost productivity to include absenteeism, workplace disruptions, presenteeism and 

turnover. Findings also indicate that additional health care costs for caregiving employees costs companies an additional 

$13.4 billion annually. Employees caring for a family member or friend were more likely to report fair to poor health, 

depression, diabetes, hypertension and/or pulmonary disease. Over the coming years, a greater number of employees 

of all ages will provide care for an aging family member or friend. <br><br>

A 2012 Phizer Study on Best Workplace Eldercare Practices cited homecare referral services as a highly effective tool to 

assist staff providing eldercare, but only 9 percent of companies offer referrals. Employers can serve the best interests 

of their employees as well as those of their corporation by anticipating and responding to the challenges of caregiving 

for their employees. Benefits and wellness programs focused on caregiving can provide support to working caregivers 

and also be a vehicle to directly reduce employee healthcare costs, with resulting bottom-line benefits to the employer. 

<br><br>

<b>Problem:</b> Employees who are also caregivers cost companies billions in lost productivity and the effected 

population is growing. Current Employee Assistance Programs /Caregiver solutions aren't effective in helping families 

find the local, affordable homecare, which could significantly reduce the negative productivity and health effects 

employee caregivers face. <br><br>

<b>Solution:</b> CareSpotter is a simple, online marketplace that helps families find local, professional care workers. 

All caregivers are screened and background checked, and insured and bonded through CareSpotter. CareSpotter is 

partnering with Beach Glass Transitions, a company that focuses on senior care advisement, to provide a comprehensive 

Workplace Eldercare Solutions service to Florida Blue employees that are current caregivers as a resource to find local, 

affordable care workers and guide them through their caregiving responsibilities so they can remain at work, focused 

and healthy. <br><br>

<b>Services: </b>

<ul>

<li>Educational Workplace Seminars/Webinars on Caregiving Strategies and Resources</li>

<li>Printed and Email caregivers newsletters and guides</li>

<li>Supervisor/Managerial training in caregiver support</li>

<li>Workplace surveys</li>

<li>Personal consultations with Professional Certified Care Advisors</li>

<li>Crisis management</li>

<li>Customized and qualified referrals</li>

<li>Access to CareSpotter to help employee caregivers quickly find local, affordable caregivers </li>

<li>Utilization Analytics and ROI Reporting</li>

</ul>

<b>To learn more information and get a customized quote, email us today at <a href="mailto:workplace@carespotter.com">workplace@carespotter.com</a></b>