<div class="container">
  <div class="row title">
    <div class="large-12 small-12 columns centered">
      <h2>Clients testimonials</h2>
      <p>CareSpotter helps you find the perfect caregiver</p>
    </div>
  </div>
  <div class="row list">
    <div class="large-3 small-12 columns item">
      <div class="head">
        <div class="avatar">
          <%= image_tag('clients/example.png') %>
        </div>
        <div class="person">
          <span class="name">Kylie</span>
          <span class="city">New York, NY</span>
        </div>
      </div>
      <div class="desc">
        A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts. Were thousands .
      </div>
    </div>
    <div class="large-3 small-12 columns item">
      <div class="head">
        <div class="avatar">
          <%= image_tag('clients/example.png') %>
        </div>
        <div class="person">
          <span class="name">Kylie</span>
          <span class="city">New York, NY</span>
        </div>
      </div>
      <div class="desc">
        A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts. Were thousands .
      </div>
    </div>
    <div class="large-3 small-12 columns item">
      <div class="head">
        <div class="avatar">
          <%= image_tag('clients/example.png') %>
        </div>
        <div class="person">
          <span class="name">Kylie</span>
          <span class="city">New York, NY</span>
        </div>
      </div>
      <div class="desc">
        A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts. Were thousands .
      </div>
    </div>
    <div class="large-3 small-12 columns item">
      <div class="head">
        <div class="avatar">
          <%= image_tag('clients/example.png') %>
        </div>
        <div class="person">
          <span class="name">Kylie</span>
          <span class="city">New York, NY</span>
        </div>
      </div>
      <div class="desc">
        A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts. Were thousands .
      </div>
    </div>
  </div>
</div>