<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <!-- Set the viewport width to device width for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>
            Find the best, most affordable Orlando Homecare
        </title>

        <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <meta name="description" content="Find the best Orlando Homecare and choose your own caregiver. Save up to 40 percent versus hiring through an agency by hiring an Orlando caregiver directly.">
        <meta name="keywords" content="Orlando homecare, caregiver, caregiving, senior care">

        <%= csrf_meta_tags %>
    </head>

    <body>

        <%= yield %>

        <%= stylesheet_link_tag    "application", "static" %>
        <%= javascript_include_tag "application", "static" %>
    </body>
</html>
